# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\home\Desktop\Uni\CPS1011 - Programming Principles in C\C_Project\cps1011-assignment-base-code-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
